<!-- <div
    class="table-responsive"
>
    <table
        class="table table-primary"
    >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sepete Ekle</th>
                <th scope="col">Image</th>
                <th scope="col">Category Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Created Date</th>
                <th scope="col">Is Active</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" *ngFor="let product of productList">
                <td scope="row">{{product.id}}</td>
                <td>
                  <button class="btn btn-sm btn-success"
                          (click)="addCart(product)">
                          Sepete Ekle
                  </button>
                </td>
                <td><img [src]="product.image.small" alt=""></td>
                <td>{{product.categoryId}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.createdDate|date:'dd/MM/yyyy hh:mm'}}</td>
                <td>{{product.isActive}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

<div class="container">
  <div class="products">
    <div class="product mx-auto p-2" *ngFor="let product of productList">
      <div class="product-image">
        <img [src]="product.image.small">
      </div>
      <div class="name-price mt-2">
        <div class="product-name">{{ product.name }}</div>
        <div class="product-price">{{ product.price }}</div>
      </div>
      <div class="product-desc mt-2">
        <p>{{ product.description }}</p>
      </div>
      <div class="product-buttons mt-2">
        <button class="btn btn-danger"
                (click)="removeCart(product)">
                -
        </button>
        <button class="btn btn-success"
                (click)="addCart(product)">
                +
        </button>
      </div>
    </div>
  </div>
</div>
